<div>
    Interactive french map
</div>
<div style="width : 800px;height: 400px;">
    <ui-gmap-google-map
            center='vm.map.center'
            zoom='vm.map.zoom' ,
            events="vm.map.events"
    ></ui-gmap-google-map>
</div>

<div tweets hashtag="toulouse" button="true" count="15" refresh="15"/>

<md-card class="selectedCityCard">
    <!--<img src="card-image.png" class="md-card-image" alt="image caption">-->
    <md-card-content>
        <h2>City</h2>
        <div>
            City : {{vm.selectedCity.city}}<br/>
            Address : {{vm.selectedCity.address}}<br/>
            Coordinates : {{vm.selectedCity.coordinates}}
        </div>
    </md-card-content>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>

<md-card class="tweetCards" ng-repeat="tweet in vm.tweets | limitTo : 5">
    <!--<img src="card-image.png" class="md-card-image" alt="image caption">-->
    <md-card-content>
        <h2>Tweet</h2>
        <div>
            <div>{{tweet.created_at}}</div>
            <div>
                <span ng-repeat="tag in tweet.entities.hashtags">{{tag.text}}</span>
            </div>
            <div>{{tweet.text}}<span>
            </div>
    </md-card-content>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>