<div class="content">
    <div class="layout-row layout-align-space-around-center">
        <card city="vm.userWeather"></card>
        <div ng-repeat="city in vm.biggestCitiesWeather">
            <card city="city"></card>
        </div>
        <card city="vm.selectedCity"></card>

    </div>

    <div class="layout-row">
        <div flex class="width-100">
            <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' events="vm.map.events"></ui-gmap-google-map>
        </div>
        <div flex class="tweetsContent">
            <div class="tweet" ng-repeat="tweet in vm.tweets | limitTo : 5">
                <twitter-widget twitter-widget-id="tweet.id_str"></twitter-widget>
            </div>
            <div class="noTweets" ng-show="!vm.tweets.length">
                No content !
            </div>
        </div>
    </div>
</div>